.table{
    height: 90vh;
}
.isNull {
    width: auto;
}
.responsive-column-md {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 10rem !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
.link{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.i-status {
    color: #ec1d30;
    text-align: center;
}

.responsive-column-sm {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 8rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

.one-skeleton {
    text-align: center;
    position: relative;
    padding: 1rem;
}

.responsive-calendar-table-1 {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 4rem !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.responsive-calendar-table-2 {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 2rem !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}