<div class="grid">
    <div class="col-12">
        <div class="card">
			<h5>{{label.employee_title_detail}}</h5>
            <div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
                    <label for="username">{{label.username}}</label>
                    <input type="text" pInputText id="username" [(ngModel)]="employee.username" disabled/>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="firstName">{{label.firstName}}</label>
                    <input type="text" pInputText id="firstName" [(ngModel)]="employee.firstName" disabled/>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="lastName">{{label.lastName}}</label>
                    <input type="text" pInputText id="lastName" [(ngModel)]="employee.lastName" disabled/>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="email">{{label.email}}</label>
                    <input type="text" pInputText id="email" [(ngModel)]="employee.email" disabled/>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="birthDate">{{label.birthDate}}</label>
                    <p-calendar id="birthDate" [(ngModel)]="employee.birthDate" disabled></p-calendar>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="basicSalary">{{label.basicSalary}}</label>
                    <p-inputNumber id="basicSalary" [(ngModel)]="employee.basicSalary" prefix="Rp" [minFractionDigits]="0" disabled></p-inputNumber>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="status">{{label.status}}</label>
                    <p-dropdown [(ngModel)]="employee.status" inputId="status" optionValue="value" [disabled]="true" [options]="statuses" placeholder="{{label.select}}">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="employee && employee.status" [class]="'employee-badge status-' + employee.status.toString().toLowerCase()">{{employee.status}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'employee-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="group">{{label.group}}</label>
                    <p-dropdown [(ngModel)]="employee.group" inputId="group" optionValue="value" [disabled]="true" [filter]="true" filterBy="label" 
                        [options]="group" placeholder="{{label.select}}">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="employee && employee.group" [class]="'employee-badge status-' + employee.group.toString().toLowerCase()">{{employee.group}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'employee-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="description">{{label.description}}</label>
                    <p-calendar id="description" [(ngModel)]="employee.description" disabled>
                    </p-calendar>
                </div>
            </div>
            <div class="flex flex-wrap align-items-end justify-content-end">
                <button pButton pRipple label="{{label.ok}}" icon="pi pi-check" class="p-button-text" (click)="backToEmployee()"></button>
            </div>
        </div>
    </div>
</div>